/*--------------------------------------------------------------
# Global Variable 
--------------------------------------------------------------*/

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --green: #4bc285;
  --lgreen: #24b76f;
  --iconcolor: #4bc285;
  --dbackground: #f2f5fa;
  --headingBlack: #585a61;
  --heroBlack: #121212;
}

.container-fluid {
  padding: 0rem;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #585a61;
  padding: 0px;
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--green);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: var(--green);
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: var(--lgreen) f;
  background: var(--green);
  transition: background 0.2s ease-in-out;
}

#main {
  margin-top: 0px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: rgba(255, 255, 255, 1);
}

#header.header-transparent {
  background: rgba(255, 255, 255, 1);
}

#header.header-scrolled {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--green);
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: var(--green);
  text-decoration: none;
}

#header .logo img {
  padding: 6px 0;
  margin: 0;
  position: absolute;
  max-height: 100px;
  top: -10px;
}

@media (max-width: 575px) {
  #header {
    padding: 0px 0px;
  }
  #header .logo img {
    top: 1px;
    padding: 0px 0px;
    margin: 0;
    position: relative;
    max-height: 60px;
  }
  #header.header-transparent {
    background: rgba(255, 255, 255, 0.98);
  }
  #header.header-scrolled {
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: var(--heroBlack);
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: var(--green);
  text-decoration: none;
}

.nav-menu .get-started a {
  background: var(--green);
  color: #fff;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 25px;
}

.nav-menu .get-started a:hover {
  background: var(--lgreen);
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: var(--headingBlack);
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: var(--green);
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  #header .logo h1 {
    font-size: 20px;
  }
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 25px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: var(--green);
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #47536e;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
  text-align: center;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: var(--green);
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(35, 51, 85, 0.7);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-divider {
  border: 1px solid var(--dbackground);
  margin-bottom: 15px;
  width: 100%;
}

.mobile-nav-icon {
  max-width: 200px;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 140px 0 100px 0;
  margin-bottom: -75px;
  min-height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero::before {
  content: "";
  position: absolute;
  right: -100%;
  top: 20%;
  width: 250%;
  height: 200%;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 52px;
  font-weight: 500;
  line-height: 56px;
  color: var(--lgreen);
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: var(--lgreen);
  font-size: 42px;
}

#hero .download-btn {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  display: inline-block;
  padding: 10px 24px 10px 24px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: var(--green);
  position: relative;
}

#hero .download-btn:hover {
  background: var(--lgreen);
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
    min-height: 600px;
  }

  #hero h1 {
    font-size: 26px;
    line-height: 36px;
    color: var(--lgreen);
  }
  #hero h2 {
    font-size: 24px;
    line-height: 24px;
    color: var(--lgreen);
  }

  #hero .download-btn + .download-btn {
    margin: 10px 10px;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 26px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 24px;
    line-height: 24px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 0px 0px;
  overflow: hidden;
}

.section-bg {
  background-color: #f2f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 760px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: var(--heroBlack);
  font-family: "Poppins", sans-serif;
}

.section-title p {
  margin-bottom: 0;
}

@media (max-width: 420px) {
  section {
    padding: 0px 0px;
  }
  .section-title h2 {
    font-size: 28px;
    font-weight: 500;
  }
  .section-title p {
    font-size: 15px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #f6f8fb;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--green);
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# App Features
--------------------------------------------------------------*/
.features-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
}
.features .content {
  padding: 30px 0;
}

.features .content .icon-box {
  margin-top: 25px;
}

.features .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
  color: var(--headingBlack);
}

.features .content .icon-box img {
  align-self: center;
  max-width: 48px;
  max-width: 48px;
  float: left;
  color: var(--iconcolor);
}

.features .content .icon-box i {
  font-size: 48px;
  float: left;
  color: var(--green);
}

.features .content .icon-box p {
  font-size: 15px;
  color: #979aa1;
  margin-left: 60px;
}

.custom-image {
  border-radius: 15px;
  opacity: 0.8;
}

@media (max-width: 991px) {
  .features .image {
    text-align: center;
  }
  .features .image img {
    max-width: 80%;
  }
}

@media (max-width: 667px) {
  .features .image img {
    max-width: 100%;
  }
  .features-box {
    padding: 100px 0px;
  }
  .features .content .icon-box h4 {
    font-size: 18px;
  }
  .features .content .icon-box {
    margin-top: 8px;
  }
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details {
  margin-top: 0px;
}
.details .content {
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.details .location-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.details .locationadvantage-box {
  background: url("../img/PG_Website_Data/Banner/LocationAdvantage_BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.details .futuredevelopment-box {
  background: url("../img/PG_Website_Data/Banner/FutureDevelopment_BG.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.details .culturalclub-box {
  background: url("../img/PG_Website_Data/Banner/Location_BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.details .content h3 {
  font-size: 32px;
  font-weight: 400;
  color: var(--heroBlack);
}

.details .content h5 {
  font-size: 22px;
  color: var(--headingBlack);
}

.details .content ul {
  list-style: none;
  padding: 0;
}

.details .content ul li {
  padding-bottom: 10px;
}

.details .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--green);
}

.details .content p:last-child {
  margin-bottom: 0;
}

#culturalvillagegreen {
  color: var(--green);
}

@media screen and (max-width: 479px) {
  .details .location-box,
  .details .locationadvantage-box,
  .details .futuredevelopment-box,
  .details .culturalclub-box,
  .other-charge-section {
    padding: 0px 16px;
  }

  .features-box {
    padding-left: 16px;
    padding-right: 16px;
  }

  .details .content h3 {
    font-size: 35px;
  }

  .details .content h5 {
    font-size: 18px;
  }

  .details .content p {
    font-size: 16px;
  }

  .details-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.right-home-text {
  text-align: center;
}

/*--------------------------------------------------------------
# Moving Carosal
--------------------------------------------------------------*/
.moving-carosal-heading {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  padding: 20px;
}

.customer-logos {
  background-color: #fff;
  margin-bottom: 100px;
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  overflow: hidden;
}

.gallery .owl-nav,
.gallery .owl-dots {
  margin-top: 40px;
  text-align: center;
}

.gallery .owl-item {
  transition: 0.3s ease-in-out;
}

.gallery .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #eff2f8 !important;
}

.gallery .owl-dot.active {
  background-color: var(--green) !important;
}

.gallery .gallery-carousel {
  padding-top: 30px;
}

.gallery .gallery-carousel .owl-stage-outer {
  overflow: visible;
}

@media (min-width: 992px) {
  .gallery .gallery-carousel .center {
    border: 6px solid var(--green);
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
    margin-top: 10px;
    border-radius: 25px;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: var(--green);
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: var(--green);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: var(--green) !important;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

.pricing {
  padding: 50px 0;
}
.pricing .row {
  padding-top: 40px;
}

.pricing .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}

.pricing h3 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 25px;
  color: var(--headingBlack);
}

.pricing h4 {
  font-size: 35px;
  color: var(--green);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}

.pricing h4 span {
  color: var(--headingBlack);
  font-size: 18px;
  display: block;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: var(--headingBlack);
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding-bottom: 12px;
  font-size: 13px;
}

.pricing ul i {
  color: var(--green);
  padding-right: 4px;
}

.pricing ul li span {
  color: var(--green);
}

.pricing ul .na {
  color: #ccc;
}

.pricing ul li span .toleft {
  float: right;
}

.pricing ul .na i {
  color: var(--green);
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing #othercharge {
  color: var(--green);
}

.pricing .get-started-btn {
  background: var(--headingBlack);
  display: inline-block;
  padding: 6px 30px;
  border-radius: 20px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
}

.pricing .get-started-btn:hover {
  background: var(--lgreen);
}

.pricing .featured {
  z-index: 10;
  margin: -30px -5px 0 -5px;
}

.pricing .featured .get-started-btn {
  background: var(--green);
}

.pricing .featured .get-started-btn:hover {
  background: var(--lgreen);
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
  .pricing .get-started-btn {
    background-color: var(--green);
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .accordion-list {
  padding: 0 100px;
}

.faq .accordion-list ul {
  padding: 0;
  list-style: none;
}

.faq .accordion-list li + li {
  margin-top: 15px;
}

.faq .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .accordion-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #b1c0df;
}

.faq .accordion-list .icon-show,
.faq .accordion-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .accordion-list .icon-show {
  display: none;
}

.faq .accordion-list a.collapsed {
  color: #343a40;
}

.faq .accordion-list a.collapsed:hover {
  color: #5777ba;
}

.faq .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .accordion-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info {
  padding: 20px 40px;
  background: #f1f3f6;
  color: var(--headingBlack);
  text-align: center;
  border: 1px solid #fff;
}

.contact .info i {
  font-size: 48px;
  color: var(--green);
  margin-bottom: 15px;
}

.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  font-size: 15px;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: var(--green);
  background: var(--green);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form label {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  color: #8a8c95;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #5777ba;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: var(--green);
  border: 2px solid var(--lgreen);
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  margin-top: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: var(--lgreen);
  color: #fff;
}

@media (max-width: 1024px) {
  .contact .php-email-form {
    padding: 30px 15px 15px 15px;
  }
}

@media (max-width: 768px) {
  .contact .php-email-form {
    padding: 15px 0 0 0;
  }
}

@media (max-width: 768px) {
  .contact {
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Our Background
--------------------------------------------------------------*/
#ourbackground {
  background: var(--dbackground);
}

#ourbackground .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: var(--headingBlack);
}

#ourbackground .ourbackground_green {
  color: var(--green);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--dbackground);
  padding: 0 0 30px 0;
  color: var(--headingBlack);
  font-size: 14px;
  background: #eff2f8;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #eff2f8;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: var(--headingBlack);
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #5777ba;
  color: var(--green);
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: var(--green);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: var(--dbackground);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  color: var(--green);
}

#footer .footer-top .footer-contact .logo {
  max-width: 50%;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: var(--headingBlack);
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: var(--headingBlack);
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: var(--headingBlack);
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--headingBlack);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: var(--headingBlack);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: var(--lgreen);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  background-color: transparent;
}

#footer .footer-top .social-links a img {
  background-color: transparent;
  border-radius: 50%;
  transition: 0.3s;
}

#footer .footer-top .social-links a img:hover {
  text-decoration: none;
  transform: scale(1.25);
}

#footer .footer-top .social-links #linkedin {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: relative;
  top: 8px;
}

#footer .footer-top .social-links #linkedin img {
  transform: scale(0.7);
  position: relative;
  top: -8px;
}

#footer .copyright {
  text-align: center;
  float: left;
  color: #47536e;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #47536e;
}

.Certification-image {
  padding-top: 20px;
}

@media (max-width: 768px) {
  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
}

/*--------------------------------------------------------------
# Servies
--------------------------------------------------------------*/

.services-section {
  margin-top: 100px;
}

.services-section .services-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.services-img {
  object-fit: cover;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .services-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
}

.portfolio-details {
  padding-top: 30px;
  margin-top: 50px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
  text-align: left;
  font-weight: 400;
}
.portfolio-details .portfolio-description p span {
  font-size: 18px;
  color: #555555;
  font-weight: 600;
}

.portfolio-details .about-slider {
  margin-top: 25px;
  width: 70%;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }

  .portfolio-details .about-slider {
    width: 100%;
  }
}

.teamheading {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 75px;
}

.project-section {
  margin-top: 100px;
}

.project-section .project-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.project-section .col-md-4 {
  margin-top: 25px;
}

.project-section .col-md-4 .card img {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;

  transition: all 0.8s ease-in-out;
}

.project-section .col-md-4 .card img:hover {
  transform: scale(1.2);
}

.portfolio-details {
  margin: 50px;
}

/*---------------------------
SlideShow
------------------------------*/
#slideshow {
  margin: 0px auto;
  position: relative;
  width: 400px;
  height: 300px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
}

#slideshow > div > img {
  width: auto;
  max-width: 400px;
  max-height: 300px;
  min-width: 400px;
  min-height: 300px;
}
